spring:
  application:
    name: tunnel-sshd
tunnel:
  sshd:
    bind-address: 0.0.0.0
    port: 22222
    # 是否禁用基于流量的重协商（RFC 4253）（如果在传输中数据量过大时卡顿，可禁用，但是会增加密钥破解风险）
    disable-rekey-bytes-limit: false
    # 是否允许转发代理
    allow-forward-agent: false
    # 是否允许转发X11
    allow-forward-x11: false
    # 是否允许客户端远程转发
    allow-client-remote-forward: true
    # 是否允许客户端本地转发和动态转发（建议关闭！因为这会允许客户端访问服务器本地侧的任何端口！）
    allow-client-local-forward: true
    # 是否允许密码认证
    allow-password: true
    # 是否允许公钥认证(classpath:/authorized_keys)
    allow-public-key: true
    username: root
    password: 123456
